<app-header-admin>

</app-header-admin>

<br><br>


<div>
  <input type="text" id="myInput"  placeholder="Search for names.." [(ngModel)]="recherche">
</div>

<h1>{{recherche}}</h1>
<div >

  <table >
    <thead>
    <tr>
      <th>Nom prenom</th>
      <th>Prix</th>
      <th>Date</th>
      <th>Voir la commande</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let commande of DonneeBase$ | searchfiltre : recherche" >

      <td >{{ commande.nom }}</td>
      <td >{{ commande.prix | currency : '€' }}</td>
      <td >{{ commande.date |  date: 'd/M/y' }}</td>
      <td >
        <button type="button" mat-flat-button  style="background: yellow" color="black" (click)="onSelect(commande.idPanier)">Visualiser </button>
      </td>

    </tr>
    </tbody>
  </table>


</div>

