


<div class="container fixed-bottom" style="width:35% ; ">
  <nav class="navbar navbar-dark rounded-3" style="background-image: linear-gradient( 135deg, #F55555  10%, #FCCF31 100%);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="/client/menu" routerLinkActive="active">
        <img src="../assets/images/menu.svg" alt="" width="65" height="65">
      </a>
      <a class="navbar-brand" href="#" routerLink="/client/burgers" routerLinkActive="active">
        <img src="../assets/images/burger_icon.svg" alt="" width="50" height="50">
      </a>
      <a class="navbar-brand" href="#" routerLink="/frites" routerLinkActive="active">
        <img src="../assets/images/frites.svg" alt="" width="50" height="50">
      </a>
      <a class="navbar-brand" href="#" routerLink="/boissons" routerLinkActive="active">
        <img src="../assets/images/boisson.svg" alt="" width="50" height="50">
      </a>
      <a class="navbar-brand" href="#" routerLink="/supplements" routerLinkActive="active">
        <img src="../assets/images/legume.svg" alt="" width="50" height="50">
      </a>
      <a class="navbar-brand" href="#" routerLink="/desserts" routerLinkActive="active">
        <img src="../assets/images/dessert.svg" alt="" width="50" height="50">
      </a>
      <a class="navbar-brand" href="#" routerLink="/panier" routerLinkActive="active">
        <img src="../assets/images/panier.svg" alt="" width="50" height="50">
      </a>
    </div>
  </nav>
</div>



