<div>

  <div class="container contenneurAllDialog">

    <h1 class="text-center">Ma commande</h1>

    <ol class="list-group border-0" style="">
      <li *ngIf="data['menu']" class="list-group-item d-flex justify-content-between align-items-start border-0" style="background-color:transparent;">
        <div class="ms-2 me-auto">
          <div class="fw-bold produit"><img src="../../../../assets/images/menu.svg" alt="" width="20" height="20"> Menu</div>
          <ul>
            <li *ngFor="let obj of data['menu'] ">{{obj.burger}}</li>
            <li *ngFor="let obj of data['menu'] ">{{obj.boisson}}</li>
            <li *ngFor="let obj of data['menu'] ">{{obj.frite}}</li>
          </ul>
        </div>
      </li>
      <li *ngIf="data['burger']" class="list-group-item d-flex justify-content-between align-items-start border-0" style="background-color:transparent;">
        <div class="ms-2 me-auto">
          <div class="fw-bold produit"><img src="../../../../assets/images/burger.svg" alt="" width="20" height="20"> Burgers</div>
          <ul>
            <li *ngFor="let obj of data['burger'] ">{{obj.nom}} x {{obj.quantite}}</li>
          </ul>
        </div>
      </li>
      <li *ngIf="data['frite'] " class="list-group-item d-flex justify-content-between align-items-start border-0" style="background-color:transparent;">
        <div class="ms-2 me-auto" >
          <div class="fw-bold produit"><img src="../../../../assets/images/frite.svg" alt="" width="20" height="20"> Frites</div>
          <ul>
            <li *ngFor="let obj of data['frite'] ">{{obj.nom}} x {{obj.quantite}}</li>
          </ul>
        </div>
      </li>
      <li *ngIf="data['boisson']" class="list-group-item d-flex justify-content-between align-items-start border-0" style="background-color:transparent;">
        <div class="ms-2 me-auto" >
          <div class="fw-bold produit"><img src="../../../../assets/images/boisson.svg" alt="" width="20" height="20"> Boissons</div>
          <ul>
            <li *ngFor="let obj of data['boisson'] ">{{obj.nom}} x {{obj.quantite}}</li>
          </ul>
        </div>
      </li>
      <li *ngIf="data['autre']" class="list-group-item d-flex justify-content-between align-items-start border-0" style="background-color:transparent;">
        <div class="ms-2 me-auto" >
          <div class="fw-bold produit"><img src="../../../../assets/images/supplement.svg" alt="" width="20" height="20"> Supplements</div>
          <ul>
            <li *ngFor="let obj of data['autre'] ">{{obj.nom}} x {{obj.quantite}}</li>
          </ul>
        </div>
      </li>
      <li *ngIf="data['dessert']" class="list-group-item d-flex justify-content-between align-items-start border-0" style="background-color:transparent;">
        <div class="ms-2 me-auto">
          <div class="fw-bold produit"><img src="../../../../assets/images/dessert.svg" alt="" width="20" height="20"> Désserts</div>
          <ul>
            <li *ngFor="let obj of data['dessert'] ">{{obj.nom}} x {{obj.quantite}}</li>
          </ul>
        </div>
      </li>
    </ol>
  </div>
  <div class="contenneurBtFermer">
    <a class="btFermer" (click)="fermer()">fermer</a>
  </div>
</div>
