<h1 class="text-center">Personnalisation de burger</h1>


<div class="contenneurTout">
  <div class="row mx-auto " style="margin-top: 4%;" *ngIf="vuePain">
    <p style="margin-left: 10%;font-weight: bold;">Pain({{countPain}}/1)</p>
    <div class="d-flex justify-content-around" >
      <div class="card" id="painBaguette" style="width: 10rem;" (click)="choixPainBaguette()">
        <img src="../../../assets/images/pain_burger.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Pain Baguette</h5>
        </div>
      </div>

      <div class="card" id="painBurger" style="width: 10rem;" (click)="choixPainBurger()">
        <img src="../../../assets/images/pain_baguette.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center"><br>Pain Burger</h5>
        </div>
      </div>
    </div>
    <div class="container text-center" style="margin-top:10%;">
      <div class="row justify-content-around">
        <div class="col">
          <a class="btn btn-primary" href="#" role="button" routerLink="/client/burgers" routerLinkActive="active">Annuler</a>
        </div>
        <div class="col" *ngIf="painBurgerSelected || painBaguetteSelected">
          <a class="btn btn-primary" role="button" (click)="selectPain()" >Suivant</a>
        </div>
      </div>
      <p></p>
    </div>
  </div>

  <div class="row mx-auto " style="margin-top: 4%;" *ngIf="vueViande">
    <p style="margin-left: 10%;font-weight: bold;">Viande({{countViande}}/1)</p>
    <div class="d-flex justify-content-around " >
      <div class="card" id="viandePoulet" style="width: 10rem;" (click)="choixViandePoulet()">
        <img src="../../../assets/images/steack_poulet.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Poulet</h5>
        </div>
      </div>
      <div class="card" id="viandeSteack" style="width: 10rem; " (click)="choixViandeSteack()">
        <img src="../../../assets/images/steack.png" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title text-center">Steack</h5>
        </div>
      </div>
      <div class="card" id="viandePoisson" style="width: 10rem; " (click)="choixViandePoisson()">
        <img src="../../../assets/images/steack_poisson.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Poisson</h5>
        </div>
      </div>
      <div class="card" id="viandeVeggie" style="width: 10rem;" (click)="choixViandeVeggie()">
        <img src="../../../assets/images/steack_vege.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Veggie</h5>
        </div>
      </div>
    </div>
    <div class="container text-center" style="margin-top:10%;" >
      <div class="row justify-content-around">
        <div class="col">
          <a class="btn btn-primary" role="button" (click)="annulerViande()">Annuler</a>
        </div>
        <div class="col">
          <a class="btn btn-primary" role="button" (click)="selectViande()">Suivant</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-auto " style="margin-top: 4%;" *ngIf="vueSauce">
    <p style="margin-left: 10%;font-weight: bold;">Sauce({{countSauce}}/1)</p>
    <div class="d-flex justify-content-around ">
      <div class="card" id="sauceKetchup" style="width: 10rem; " (click)="choixSauceKetchup()">
        <img src="../../../assets/images/ketchup.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Ketchup</h5>
        </div>
      </div>
      <div class="card" id="sauceBurger" style="width: 10rem; " (click)="choixSauceBurger()">
        <img src="../../../assets/images/sauce_burger.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Burger</h5>
        </div>
      </div>
      <div class="card" id="sauceMayo" style="width: 10rem; " (click)="choixSauceMayo()">
        <img src="../../../assets/images/mayo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Mayo</h5>
        </div>
      </div>
      <div class="card" id="sauceBiggie" style="width: 10rem;" (click)="choixSauceBiggie()">
        <img src="../../../assets/images/biggie.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Biggie</h5>
        </div>
      </div>
    </div>
    <div class="container text-center" style="margin-top:10%;" >
      <div class="row justify-content-around">
        <div class="col">
          <a class="btn btn-primary"  role="button" (click)="annulerSauce()">Annuler</a>
        </div>
        <div class="col">
          <a class="btn btn-primary"  role="button" (click)="selectSauce()">Suivant</a>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="row mx-auto " style="margin-top: 4%;" *ngIf="vueSupplements">
    <p style="margin-left: 10%;font-weight: bold;">Supplément({{countSupp}}/1)</p>
    <div class="d-flex justify-content-around ">
      <div class="card" id="suppBaccon" style="width: 10rem; " (click)="choixSuppBaccon()">
        <img src="../../../assets/images/bacon.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Baccon</h5>
        </div>
      </div>
      <div class="card" id="suppCheddar" style="width: 10rem; " (click)="choixSuppCheddar()">
        <img src="../../../assets/images/cheddar.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Cheddar</h5>
        </div>
      </div>
      <div class="card" id="suppEmmental" style="width: 10rem; " (click)="choixSuppEmmental()">
        <img src="../../../assets/images/emmental.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Emmental</h5>
        </div>
      </div>
      <div class="card" id="suppChevre" style="width: 10rem;" (click)="choixSuppChevre()">
        <img src="../../../assets/images/chevre.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Chèvre</h5>
        </div>
      </div>
    </div>
    <div class="container text-center" style="margin-top:10%;" >
      <div class="row justify-content-around">
        <div class="col">
          <a class="btn btn-primary" role="button" (click)="annulerSupp()">Annuler</a>
        </div>
        <div class="col" >
          <a class="btn btn-primary" role="button">Suivant</a>
        </div>
      </div>
      <p></p>
    </div>
  </div>
</div>




