<div class="contenneurCarte">
  <div class="card cardStyle">
    <img src="{{urlImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center nomProduit">{{nom}}</h5>
      <p class="text-center prixProduit" style="padding: 0;">{{prix}}€</p>
      <div class="contenneurBoutons">
        <a class="btn btn-primary btnCarte" (click)="modifier()" ><fa-icon class="btDeconnexion" [icon]="faEdit"></fa-icon></a>
          <a class="btn btn-primary btnCarte" (click)="supprimer()"><fa-icon class="btDeconnexion" [icon]="faTrashAlt"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
