.right{
  position: absolute;
  right: 0;
  width: 300px;

}

.titre{
  text-align: center;
  font-weight: bold;
  font-size: 2em;

}
#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
table{
  width: 100%;
}
td,thead,tbody{
  text-align: center;
}
button{
  color: black;
}
table, th , td  {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: orange;
}
table tr:nth-child(even) {
  background-color: yellow;
}

.contenneurBarreRecherche{
  display: flex;
  justify-content: flex-end;
}

.barreDeRecherche{
  border-radius: 30px;
  border: 2px solid black;
  background-position-y: 10px;
  width: 250px;
  padding: 8px 4px 8px 30px;
  font-size: 18px;
  /*background: transparent url("../../../../assets/images/loupe.png") no-repeat 10px 10px;*/
  background: white url("../../../assets/images/loupe.png") no-repeat 10px 10px;
}

.barreDeRecherche:focus{
  outline: none;
  border: 3px solid black;
}
