.contenneurCarte{
  padding : 25px;
}

.nomProduit{
  font-size: 20px;
  font-weight: 500;
  height: 45px;
}

.prixProduit{
  font-size: 16px;
}

.cardStyle{
  padding-top: 5px;
  width: 12rem;
  height: 22rem;
}

.cardStyle:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.contenneurBouton{
  position: absolute;
  bottom:   0;
  padding-bottom: 20px;
  padding-left: 15px;
}
