<h1 class="text-center">{{typeProduit}}</h1>

<div class="contenneurTousLesProduits">
  <app-barre-recherche (eventEmitterFiltreNom)="filtrerNom($event)"></app-barre-recherche>


  <div class="contenneurToutesLesCartes">
    <app-produit
      *ngIf="typeProduit == 'Burger'"
      [id]="0"
      [nom]="'Créer mon burger'"
      [prix]="7"
      [nameBtn]="'Personaliser'"
      [urlImage]="'burger_a_creer.png'"
      (eventEmitterClickSurCarte)="commanderOuPersonnaliser(0)">
    </app-produit>
    <app-produit
      *ngFor="let produit of tousLesProduitsChoisis"
      [id]="produit.idProduit"
      [nom]="produit.libelle"
      [prix]="produit.prix"
      [nameBtn]="'Commander'"
      [urlImage]="produit.image"
      (eventEmitterClickSurCarte)="commanderOuPersonnaliser(produit.idProduit, produit.libelle, produit.image)">
    </app-produit>
    <div *ngIf="tousLesProduitsChoisis.length == 0 && typeProduit != '' && typeProduit != 'Burger'" class="noProduct">
      <p>Aucun produit de ce nom</p>
    </div>
  </div>
</div>

<!-- Modal produit ajouté au panier -->
<div *ngIf="this.afficherModal">
  <div id="myModal" class="mmodal">
    <div class="mmodal-content">
      <span class="cclose" (click)="this.afficherModal = false;">&times;</span>
      <div class="contenneurImageValide">
        <img src="../../../assets/images/valide.png" class="imageValide" alt="ajout valide">
      </div>
      <p class="titreProduitAjoute">Produit ajouté au panier</p>
      <div class="contenneurImageProduit">
        <img src="../../../assets/images/{{this.urlImageProduitPourModal}}" alt="{{nomProduitPourModal}}" class="imageProduitAjoute" >
      </div>
      <p class="card-title text-center nomProduit">{{nomProduitPourModal}}</p>
      <div class="contenneurBoutons">
        <div class="btnContinuerEtVoir">
          <a class="btn btn-secondary btnCarte"(click)="this.afficherModal = false;">Continuer mes achats</a>
          <a class="btn btn-success btnCarte" (click)="changerTypeProduit('Panier')">Voir mon panier</a>
        </div>
      </div>
    </div>

  </div>
</div>



<!--
  (eventEmitterChangerProduit) correspond à la variable EventEmitter dans le composant fils
  changerTypeProduit() correspond à la fonction de ce component
  $event correspond à la valeur donné par le composant fils (emit.(laValeurDonné))
    il peut il y avoir qu'une seule donnée en paramètre si on veut plusieurs données il faut émettre un tableau (.emit(monTab))
-->
<app-nav-bar-produit (eventEmitterChangerProduit)="changerTypeProduit($event)"></app-nav-bar-produit>


