.contenneurPanier{
  overflow: auto;
  height: 90%;
  padding-right: 20px;
  padding-left: 20px;
}

h1{
  font-size:45px;
  font-weight: 550;
}

th{
  font-size: 20px;
}

.boutonMoin, .boutonPlus, .boutonSupprimer, .payer{
  font-size: 20px;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #2E2E2D;
  border: 1px #2E2E2D;
  color: white;
}

.boutonMoin:hover, .boutonPlus:hover, .boutonSupprimer:hover, .payer:hover{
  background-color: white;
  color: #2E2E2D;
}

.nom{
  font-size: 20px;
}

ul{
  font-size: 17px;
}

.quantite{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 500;
}

.prix{
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

tfoot{
  font-size: 30px;
  font-weight: 500;
  border: none;
}

/* Design scroll bar*/
::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background-color: #2E2E2D;
}


::-webkit-scrollbar-thumb:hover {
  background-color: black;
  cursor: pointer;
}

